/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    margin: 0;
    color: #303030;
    background: #ffffff;
    min-width: 405px;
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.navbar {
    background: #000;
    height: 30px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    padding: 25px;
}

.navbar .title {
    display: inline-block;
    font-size: 2vh;
    color: #ffffff;
    vertical-align: top;
}

@media(max-width: 400px) {
    .navbar .title {
        font-size: 1.8vh;
    }
}

.container {
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.footer {
    background: #000;
    margin-top: 80px;
    margin-left: 00px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding: 5px;
    display: grid;
}

.footer-epic {
    width: 50%;
    max-width: 600px;

    display: inline-block;
}

.footer-logo {
    float: right;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #666666;
}

a:hover {
    text-decoration: underline;
}
